*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 40px;
    line-height: 52px;
    color: black;
}

h4{
    font-size: 20px;
    color: white;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
.section_pad1{
    padding: 40px 80px;
}

.section_margin1{
    margin: 40px 0px;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
}

.fearured{
    text-align: center;
    margin-top: 74px;
}
