<nav class="navbar navbar-expand bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="/client" class="navbar-brand">Work<span class="text-danger fw-bold">Connect</span></a>
      <ul class="navbar-nav ms-auto align-center">
        <li class="nav-item mx-3" style="display: flex; align-items: center; font-size: 1.5rem;">
          <a href="/client" class="nav-link active">New Issues</a>
        </li>
        <li class="nav-item mx-3" style="display: flex; align-items: center; font-size: 1.5rem;">
          <a href="/client/pastIssues" class="nav-link">Old Issues</a>
        </li>
        <li class="nav-item mx-3" style="display: flex; align-items: center;">
          <a class="nav-link" href="/client/userprofile"><i class="bi bi-bell-fill" style="font-size:30px;"></i></a>
        </li>
        <li class="nav-item mx-3" style="display: flex; align-items: center;">
          <a class="nav-link" href="/client/userprofile"><i class="bi bi-person-circle" style="font-size:30px;"></i></a>
        </li>
      </ul>
    </div>
  </nav>

<section id="box" class="bg-dark">
    <section id="form">
        <div class="txt_db">
            <label>
                Job Title:-
                <p>
                    XYZ work
                </p>
            </label>

        </div>
        <div class="txt_db">
            <label>
                Description:-
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, praesentium.</p>
            </label>
        </div>
        <div class="txt_db">
            <label>
                Pay:-
                <p>
                    Rs.500/-
                </p>
            </label>
        </div>
        <form method="post" action="/accept">
            <button type="button" class="btn btn-primary temp">Accept</button>
        </form>
        <form method="post" action="/reject">
            <button type="button" class="btn btn-primary temp">Reject</button>
        </form>
        <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
        </div>
        <div class="txt_db">
            <label>
                Counter Pay:-
            </label>
            <form method="post" action="/client_negotitation">
                <input type="text" required>

                <button type="button" id="temp2 " class="btn btn-primary temp">Submit</button>

            </form>
        </div>

    </section>

</section>


<!-- <section id="form_container">
        <form id="negotitation_form">
            <div class="line">
                
              <label >Description:</label>
              <input type="text" id="lname" name="lname" contenteditable="false"><br>
            </div>
            <label for="fname">Job Title</label>
            <input type="text" id="fname" name="fname" contenteditable="false"><br>

            <div class="line">
                
              <label >Description:</label>
              <input type="text" id="lname" name="lname" contenteditable="false"><br>
            </div>

          
            <div class="line">
              
              <label>Price:</label>
              <input type="text" id="lname" name="lname" contenteditable="false"><br>
            </div>


            <div class="line">
              
              <label>Counter Price:</label>
              <input type="number" id="lname" name="lname" ><br>
            </div>


          </form>
    </section> -->