<nav class="navbar navbar-expand bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="/client" class="navbar-brand">Work<span class="text-danger fw-bold">Connect</span></a>
        <ul class="navbar-nav ms-auto align-center">
            <li class="nav-item mx-3" style="display: flex; align-items: center; font-size: 1.5rem;">
                <a href="/client" class="nav-link">New Issues</a>
            </li>
            <li class="nav-item mx-3" style="display: flex; align-items: center; font-size: 1.5rem;">
                <a href="/client/pastIssues" class="nav-link active">Old Issues</a>
            </li>
            <!-- <li class="nav-item mx-3" style="display: flex; align-items: center;">
                <a class="nav-link" href="/client/clientuserprofile"><i class="bi bi-bell-fill"
                        style="font-size:30px;"></i></a>
            </li> -->
            <li class="nav-item mx-3" style="display: flex; align-items: center;">
                <a class="nav-link" href="/client/clientuserprofile"><i class="bi bi-person-circle"
                        style="font-size:30px;"></i></a>
            </li>
            <li class="nav-item mx-3" style="display: flex; align-items: center;">
                <a class="nav-link active" href="/"><i class="bi bi-power"style="font-size:30px; color:red"></i></a>
            </li>
        </ul>
    </div>
</nav>
<section class="p-5 my-3">
    <div class="container">
        <div role="button" class="d-flex flex-column align-center">
            <div class="d-flex justify-content-between my-3 px-3 py-3 bg-primary text-light rounded-3">
                <div class="left d-flex align-center past-max-w">
                    <h3 class="me-2">plumbing: </h3>
                    <h3>repair taps</h3>
                </div>
                <div class="right d-flex align-center">
                    <p>Status : complete</p>
                </div>
            </div>
        </div>
        <div role="button" class="d-flex flex-column align-center">
            <div class="d-flex justify-content-between my-3 px-3 py-3 bg-primary text-light rounded-3">
                <div class="left d-flex align-center past-max-w">
                    <h3 class="me-2">cleaning: </h3>
                    <h3>cleaning water tank</h3>
                </div>
                <div class="right">
                    <p>Status : complete</p>
                </div>
            </div>
        </div>
    </div>
</section>