<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <p>Create an account for client or Worker</p>
        <a href="/user/registerClient" class="btn btn-primary btn-block mb-2">Register as client</a>
        <a href="/user/registerWorker" class="btn btn-primary btn-block mb-2">Register as worker</a>
      </div>
    </div>
  </div>