<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">Work<span class="text-danger fw-bold">Connect</span></a>
    <a href="/login" class="btn btn-info btn-block">Login</a>
  </div>
</nav>
<section class="bg-dark text-white p- p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="welcome-home d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
      <img class="img-fluid d-block" src="images/online-shopping.png" alt="">
      <div>
        <h1>Welcome to Work<span class="text-danger fw-bold">Connect</span>,</h1><h3>The web app that helps daily-wage workers and clients in your local area connect with each other.</h3>
        <!-- <h5>No more <span class="text-warning">time-consuming</span> searches for workers or clients who are right around the corner!</h5> -->
        <!-- <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">Start The Enrollment</button> -->
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <h1 class="text-center fw-bolder mb-3">Our Features</h1>
  <div class="container">
    <div class="row g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title">
              Post Request
            </h3>
            <p class="card-text">
              Easily post requests for work or services you need.
            </p>
            <!-- <a href="#" class="btn btn-primary">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title">
              Find Workers
            </h3>
            <p class="card-text">
              Browse workers and their skills to find the right match for your request.
              Benefits
            </p>
            <!-- <a href="#" class="btn btn-primary">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2 style="color:white">Benefits</h2>
        <p class="lead">Convenient: Work-Connect is accessible from anywhere with an internet connection.
        </p>
        <p class="lead">Ease of Use: Our user-friendly interface makes it simple to post requests and find workers.
        </p>
        <p class="lead">Improved Connections: No more searching for workers or clients in your local area - Work-Connect makes it easy.
        </p>
      </div>
      <div class="col-md">
        <img src="images/marketing-officer.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<section class="p-5 center">
  <h1 class="text-center fw-bolder mb-3">Get Started Today</h1>
  <div class="p-4 p-sm-5 bg-dark text-light rounded-3 welcome-started">
    <h4 class="text-center">Whether you're a daily-wage worker looking for clients or a client in need of workers, Work-Connect is the solution for you. Sign up now to start connecting.</h4>
    <div class="d-flex justify-content-around flex-column flex-sm-row align-center">
      <a href="/registerClient" class="btn btn-primary btn-block mt-2">Register as client</a>
        <a href="/registerWorker" class="btn btn-primary btn-block mt-2">Register as worker</a>
    </div>
  </div>
</section>

<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or login</p>
      <a href="/user/registerClient" class="btn btn-primary btn-block mb-2">Register as client</a>
        <a href="/user/registerWorker" class="btn btn-primary btn-block mb-2">Register as worker</a>
      <a href="/user/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
<div>
  <p class="hel fw-bold">
    hello world
  </p> -->
</div>

<footer class="p-3 bg-dark text-white text-center position-relative">
  <div class="container">
    <p class="lead">Copyright &copy; 2023 Work-Connect</p>
    <a href="#" class="position-absolute bottom-0 end-0 p-3">
      <i class="bi bi-arrow-up-circle h1"></i>
    </a>
  </div>
</footer>