<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand">Frontend bootcamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto" >
        <li class="nav-item">
          <a href="#learn" class="nav-link">What you'll learn</a>
        </li>
        <li class="nav-item">
          <a href="#questions" class="nav-link">Questions</a>
        </li>
        <li class="nav-item">
          <a href="#instructors" class="nav-link">Instructors</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or login</p>
      <a href="/user/registerClient" class="btn btn-primary btn-block mb-2">Register as client</a>
        <a href="/user/registerWorker" class="btn btn-primary btn-block mb-2">Register as worker</a>
      <a href="/user/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
<div>
  <h1 class="hel">
    hello world
  </h1>
</div>