<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers Section</title>
    <link rel="stylesheet" href="../public/stylesheet/worker_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body> -->
    <nav class="navbar navbar-expand bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
          <a href="#" class="navbar-brand">Work<span class="text-danger fw-bold">Connect</span></a>
          <!-- <a href="/user/login" class="btn btn-info btn-block">Login</a> -->
          <!-- <i class="bi bi-bell-fill" style="color: white;"></i>
            <a href="/client/userprofile"><i class="bi bi-person-circle h2" style="color: white;"></i></a> -->
          <ul class="navbar-nav ms-auto align-center">
            <li class="nav-item mx-3" style="display: flex; align-items: center; font-size: 1.5rem;">
              <a href="/worker" class="nav-link active">Recommended</a>
      
            </li>
            <li class="nav-item mx-3" style="display: flex; align-items: center; font-size: 1.5rem;">
              <a href="/worker_all" class="nav-link">All works</a>
            </li>
            <li class="nav-item mx-3" style="display: flex; align-items: center; font-size: 1.5rem;">
                <a href="/worker_applications" class="nav-link">My Applications</a>
              </li>
            <!-- <li class="nav-item mx-3" style="display: flex; align-items: center;">
                <a class="nav-link" href="/client/clientuserprofile"><i class="bi bi-bell-fill"
                        style="font-size:30px;"></i></a>
            </li> -->
            <li class="nav-item mx-3" style="display: flex; align-items: center;">
                <a class="nav-link" href="/userprofile"><i class="bi bi-person-circle"
                        style="font-size:30px;"></i></a>
            </li>
            <li class="nav-item mx-3" style="display: flex; align-items: center;">
                <a class="nav-link" href="/"><i class="bi bi-power"style="font-size:30px; color:red"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    <section class="featured section_pad1" >
        <h2> 
            Recommended For You
        </h2>
        <div class="work-container" >
            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>    
            </div>

            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>
                
            </div>

            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>
                
            </div>

            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>
                
            </div>

            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>
                
            </div>

            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>
                
            </div>

            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>
                
            </div>

            <div class="work">
                <img src="/images/temp1.jpg" alt="xyz work" class="workimg">
                <div class="description">
                    <h4>
                        XYZ work
                    </h4>
                    <p>
                        <a class="nav-link" href="/client/userprofile"><i class="bi bi-geo-alt-fill" style="font-size:16px;padding-right: 5px;"></i></a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quia ratione, ut earum voluptatem dolore n
                    </p>
                    <h4>
                        Rs. 500/-
                    </h4>
                </div>
                <a href="#">
                    <button type="submit" class="apply_btn">
                        Apply Now
                    </button>
                </a>
                
            </div>
        </div>

        
    </section>
<!-- </body>
</html> -->

<!-- viewBox="0 0 800px 800px" -->